body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%) fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.Index .weather-main {
  background-color: white;
  max-width: 650px;
  margin: 60px auto;
  padding: 40px 40px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

@media (max-width: 800px) {
  .Index .weather-main {
    margin: 10px auto;
    border-radius: 4px;
  }
}
