.Weather h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: black;
}

.Weather form {
  margin-bottom: 25px;
}

.Weather .current-details strong {
  color: #537895;
  font-weight: 800;
  line-height: 1.8;
}

.Weather .current-weather-icon {
  font-size: 40px;
  width: 100px;
}

.Weather .current-weather-temp {
  font-size: 80px;
  color: black;
  font-weight: 900;
}
.Weather .current-weather-degree {
  font-size: 20px;
  color: black;
  position: relative;
  top: -40px;
}
